abstract.aux
main.lof
acronimos.aux
agradecimientos.aux
dedicatoria.aux
main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.glo
main.glsdefs
main.idx
main.ilg
main.ind
main.ist
main.loa
main.log
main.lot
main.pdf
main.out
main.toc
Cap3/cap3.aux
main.run.xml
main.synctex.gz
resumen.aux
Cap2/cap2.aux
introduccion/Intro.aux
Cap6/cap6.aux
Cap5/cap5.aux
Cap4/cap4.aux
main.lol
*.aux
.idea/
libro-tesis-ontologias.iml